#navbar {
    background-color: #78909c;
    display: flex;
	border-bottom: 2px solid black;
    justify-content: space-between;
   
}

#navbar ul {
    float: right;
      
 }
#navbar ul li {
    display: inline-block;
 }
#navbar ul li a{
         margin: 0;
         padding: 20px;
         color: white;
         text-decoration: none;
 }
#navbar ul li a:hover{
    color: black;
    background: whitesmoke;
 }

#cartwidget {
    display: flex;
   
 
}

